* {
	bg: 	#1d2021;
	bg1: 	#373d41;
	bg2: 	#474f54;
	red: 	#ea6962;
	green: 	#a9b665;
	yellow: #c1bf89;
	blue: 	#82abbc;
	magenta:#d3869b;
	cyan: 	#89b482;
	fg: 	#d4be98;
	fg1: 	#d8caac;
	fg2: 	#b3cfa7;

	transparent: #00000000;
}