* {
  font-family: 'FiraCode Nerd Font';
}
window#waybar {
  background-color: rgba(0,0,0,0);
  transition-property: background-color;
  transition-duration: .5s;
}

#clock,
#disk,
#backlight,
#network,
#pulseaudio,
#custom-media,
#battery,
#tray,
#workspaces {
    padding: 0 10px;
    /* color: #ffffff; */
    /* background-color: black; */
    border-radius: 16px;
}
